# Ignorar dependencias locales
node_modules
.pnpm-store

# Ignorar archivos de build
dist
build
.turbo

# Ignorar variables de entorno locales
.env
.env.*
!.env.example

# Logs y archivos de debug
*.log
.pnpm-debug.log*

# Ignorar caché de herramientas
.eslintcache
.vite-cache